<%= bootstrap_form_with model: queue_item, local: true do |form| %>
    <% if queue_item.errors.any? %>
        <div class="alert alert-danger">
            <ul>
                <% queue_item.errors.full_messages.each do |message| %>
                    <li><%= message.html_safe %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    <%= form.text_field :reference_id, class: "form-control" %>
    <%= form.text_field :name, class: "form-control" %>
    
    <div class="mb-3"><label for="variations" class="form-label">Variations</label>
        <div id="variation-fields">
        <% @queue_item.variations.each_with_index do |variation, index| %>
            <% variation.each do |key, value| %>
            <div class="input-group mb-2 variation-group">
                <%= text_field_tag "queue_item[variations][#{index}][key]", key, placeholder: "Property", class: "form-control" %>
                <%= text_field_tag "queue_item[variations][#{index}][value]", value, placeholder: "Value", class: "form-control" %>
                <button type="button" class="btn btn-outline-danger remove-variation">−</button>
            </div>
            <% end %>
        <% end %>
        </div>
        <button type="button" id="add-variation" class="btn btn-outline-success">+</button>
    </div>

    <%= form.date_field :due_date, class: "form-control" %>
    
    <%= form.text_area :notes, class: "form-control", rows: 3 %>

    <div class="mb-3">
        <%= form.label :status, class: "form-label d-block" %>
        <div class="btn-group" role="group" aria-label="Status selection">
            <% QueueItem.statuses.keys.each do |status| %>
            <input type="radio" class="btn-check" name="queue_item[status]" id="status_<%= status %>" value="<%= status %>" <%= 'checked' if form.object.status == status %>>
            <label class="btn btn-outline-secondary" for="status_<%= status %>"><%= status.humanize %></label>
            <% end %>
        </div>
    </div>

    <div class="actions d-flex flex-row justify-content-between">
        <%= form.submit class: "btn btn-primary" %><%= link_to "Cancel", queue_items_path, class: "btn btn-danger" %>
    </div>
<% end %>