<div class="navbar">
  <ul class="nav pb-3">
    <li class="nav-item">
      <%= link_to root_path, class: "nav-link" do %>
        Show All <span class="badge text-bg-secondary"><%= current_user.queue_items.count %></span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to root_path(status: "pending"), class: "nav-link" do %>
        Pending <span class="badge text-bg-secondary"><%= current_user.queue_items.where(status: 'pending').count %></span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to root_path(status: "printing"), class: "nav-link" do %>
        Printing <span class="badge text-bg-secondary"><%= current_user.queue_items.where(status: 'printing').count %></span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to root_path(status: "complete", sort: "updated"), class: "nav-link" do %>
        Complete <span class="badge text-bg-secondary"><%= current_user.queue_items.where(status: 'complete').count %></span>
      <% end %>
    </li>
  </ul>

  <%= bootstrap_form_with url: queue_items_path, method: :get, local: true do |f| %>
      <%= f.search_field :query, placeholder: 'Search queue items...', class: 'input-group', value: params[:query], append: f.primary('Search'), hide_label: true %>
  <% end %>
</div>

<% @queue_items.each do |item| %>
  <div class="container shadow-sm mb-4 bg-body-tertiary border-<%= bootstrap_class_name_for(item.status) %>  rounded overflow-hidden position-relative">
    <div class="row">
        <% days, status_text = days_remaining(item) %>
        <% if days.present? %>
          <div class="col-2 text-center lh-1 border-end border-secondary p-3 <%= 'bg-danger-subtle' if days.negative? %>" style="width:min-content;">
            <div class="fs-1"><%= days.abs %></div>
            <div class="fs-6"><%= status_text %></div>
          </div>
        <% end %>
        <div class="col-auto flex-fill p-2 d-flex gap-1 flex-column justify-content-between">
          <% if item.reference_id.present? %>
            <div class="fs-6">
              <%= item.reference_id %>
            </div>
          <% end %>
          <h5 class="card-title" ><%= item.name %></h5>
          <% item.variations.each do |variation| %>
            <div class="variation">
              <strong><%= "#{variation['title']}:" %></strong> <%= "#{variation['value']}" %>
            </div>
          <% end %>
          <% if item.notes.present? %>
            <div><strong>Notes:</strong> <%= item.notes %></div>
          <% end %>
          <div class="btn-toolbar justify-content-end">
            <div class="btn-group gap-1">
<% QueueItem.statuses.keys.each do |status| %>
  <%= button_to queue_item_path(item, request.query_parameters.merge(queue_item: { status: status })), 
                method: :patch, 
                class: "btn btn-sm #{item.status.to_s == status ? 'btn-' + bootstrap_class_name_for(status) : 'btn-outline-' + bootstrap_class_name_for(status)}" do %>
    <%= status.capitalize %>
  <% end %>
<% end %>
            </div>
          </div>
        </div>
    </div>

    <div class="dropdown position-absolute top-0 end-0">
        <i class="bi bi-three-dots-vertical px-2" data-bs-toggle="dropdown" aria-expanded="false"></i>
        <ul class="dropdown-menu">
          <li>
            <%= link_to "Edit", edit_queue_item_path(item), class: "dropdown-item text-secondary" %>
          </li>
          <li>
            <%= link_to "Delete", queue_item_path(item), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "dropdown-item text-danger" %>
          </li>
        </ul>
    </div>


  </div>
<% end %>