<% @queue_items.each do |item| %>
  <div class="container shadow-sm mb-4 bg-body-tertiary border-<%= bootstrap_class_name_for(item.status) %>  rounded overflow-hidden position-relative">
    <div class="row">
        <% days, status_text = days_remaining(item) %>
        <% if days.present? %>
          <div class="col-2 text-center lh-1 border-end border-secondary p-3 <%= 'bg-danger-subtle' if days.negative? %>" style="width:min-content;">
            <div class="fs-1"><%= days.abs %></div>
            <div class="fs-6"><%= status_text %></div>
          </div>
        <% end %>
        <div class="col-auto flex-fill p-2">
          <div class="fs-6"><%= item.reference_id %></div>
          <h5 class="card-title" ><%= item.name %></h5>
          <div>Color: <%= item.color %></div>
          <% if item.notes.present? %>
            <div><strong>Notes:</strong> <%= item.notes %></div>
          <% end %>
          <div class="btn-toolbar justify-content-end">
            <div class="btn-group gap-1">
              <% QueueItem.statuses.keys.each do |status| %>
                <%= button_to queue_item_path(item), method: :patch, params: { queue_item: { status: status } }, class: "btn btn-sm #{item.status.to_s == status ? 'btn-' + bootstrap_class_name_for(status) : 'btn-outline-' + bootstrap_class_name_for(status)}" do %>
                  <%= status.capitalize %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
    </div>

    <div class="dropdown position-absolute top-0 end-0">
        <i class="bi bi-three-dots-vertical px-2" data-bs-toggle="dropdown" aria-expanded="false"></i>
        <ul class="dropdown-menu">
          <li>
            <%= link_to "Edit", edit_queue_item_path(item), class: "dropdown-item text-secondary" %>
          </li>
          <li>
            <%= link_to "Delete", queue_item_path(item), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "dropdown-item text-danger" %>
          </li>
        </ul>
    </div>


  </div>
<% end %>